<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 文章管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('index/article/article_list')}" data-title="党建工作风采管理" href="javascript:void(0)">党建工作风采列表</a></li>
					<li><a data-href="{:url('index/article/article_list1')}" data-title="党建基本知识管理" href="javascript:void(0)">党建基本知识列表</a></li>
					<li><a data-href="{:url('index/article/article_list2')}" data-title="党的十九大风采管理" href="javascript:void(0)">党的十九精神采列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe613;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('index/picture/picture_list')}" data-title="轮播图管理" href="javascript:void(0)">轮播图管理</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 信息管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('index/information/information_list')}" data-title="通知公告" href="javascript:void(0)">通知公告</a></li>
					<li><a data-href="{:url('index/information/information_list1')}" data-title="园区动态" href="javascript:void(0)">园区动态</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe622;</i> 互动管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('index/interaction/interaction_list')}" data-title="部门机构" href="javascript:;">部门机构</a></li>
					<li><a data-href="{:url('index/interaction/interaction_list1')}" data-title="企业机构" href="javascript:void(0)">企业机构</a></li>
					<li><a data-href="{:url('index/interaction/interaction_list2')}" data-title="服务机构" href="javascript:void(0)">服务机构</a></li>
					<li><a data-href="{:url('index/interaction/proposal_list')}" data-title="建议中心" href="javascript:void(0)">建议中心</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('index/member/member_list')}" data-title="会员列表" href="javascript:;">会员列表</a></li>
					<li><a data-href="{:url('index/member/member_del')}" data-title="删除的会员" href="javascript:;">删除的会员</a></li>
					<li><a data-href="member-level.html" data-title="等级管理" href="javascript:;">等级管理</a></li>
					<li><a data-href="member-scoreoperation.html" data-title="积分管理" href="javascript:;">积分管理</a></li>
					<li><a data-href="member-record-browse.html" data-title="浏览记录" href="javascript:void(0)">浏览记录</a></li>
					<li><a data-href="member-record-download.html" data-title="下载记录" href="javascript:void(0)">下载记录</a></li>
					<li><a data-href="member-record-share.html" data-title="分享记录" href="javascript:void(0)">分享记录</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('index/role/role_list')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
					<li><a data-href="{:url('index/auth/index')}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
					<li><a data-href="{:url('index/admin/admin_list')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
				</ul>
			</dd>
		</dl>

	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>